.nombreL{
    text-align: center;
    font-family: 'Snippet', sans-serif;
    
}




  header {
    width: 100%;
    background: $violeta;
    overflow: hidden;
    margin: auto;
  }
  
  header img{
    display: block;
    margin: auto;
  }
  
  nav {
    max-width: 1200px;
    margin: auto;
    text-align: center;
        margin: auto;

  }
  
  header nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 15px 20px;
    display: block;
    font-size: 1.1rem;
    transition: all .4s ease-in-out;
    font-family: 'Snippet', sans-serif;
    



  }
  
  nav ul li a:hover {
    background: #dab9f1;
    color: #000;
  }
    
    body{
    background-color: #dab9f1; }
  
  .textoo {
    text-align: center;
    padding: 20px;
    font-family: 'Domine', serif; }
  
  .p1 {
    line-height: 180%; }
  
  /* /header*/
  /* footer */
  .final {
    background-color: #e3caf5;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  
  .redes a i {
    font-size: 20px;
    text-align: left;
    padding: 5px 10px; }
  
  .redes a i:hover {
    transform: scale(2); }
  
  .imgP {
    margin: auto; }
  
  /* /footer*/
  /*cafeteria*/
  main div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  
  .texto2 {
    text-align: center; }
  
  /* /cafeteria*/
  /* contacto*/
  .form {
    width: 80vh;
    margin: 0 auto;
    background-color: #af79af;
    border-radius: 10px;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: 2px 2px 10px; }
  
  .contenido-form {
    background: #cc9ebf;
    width: 90%;
    padding: 65px;
    text-align: center;
    box-shadow: 0 5px 5px;
    border-radius: 19px; }
  
  .estilo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  
  .label {
    color: black;
    text-align: center;
    width: 500px; }
  
  .input {
    display: block;
    width: 300px;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid antiquewhite; }
  
  .btn-form {
    outline: none;
    color: black;
    border: none;
    background-color: #a87ecf;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500; }
  
  .btn-form:hover {
    background-color: #a87ecf; }
  
  .contacto-form1 {
    margin: 10px;
    color: black;
    margin: auto; }
  
  /* /contacto*/