
/*media*/

@media only screen and (max-width: 768px) {
    header nav ul li {
      display: block;
      margin-right: 0; }
    nav ul li a {
      text-align: center; } }

      @media screen and (max-width: 400px){
        .galeria{
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    .close{
        top: 20px;
        right: 20px;
    
    }
    }